<!-- Footer -->
<footer id="footer">

    <div class="row">
      <div class="col-sm">
        <a class="links brand" href="">Fund Raiser</a>
      </div>
    </div>
    <div class="row copy">
      <div class="col-sm">
        <a class="links" href="">Report a problem</a>
      </div>
      <div class="col-sm">
        <a class="links" href="">Contact Developer</a>
      </div>
      <div class="col-sm">
        <a class="links" href="#title">Back to top</a>
      </div>
    </div>


    <p class="copy">© Copyright 2020 FundRaiser</p>

  </footer>

</body>

</html>
