<!-- 6)Compose page 
Title 
Description
Seeking money 
Industry of business 
Share  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compose</title>
    <!-- bootsrtap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/compose.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Compose</h1>

    <form action="/compose" method="POST">
        <div class="form-group">
          <!-- heading -->
          <label for="exampleInputEmail1">Business heading</label>
          <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">This will come on top of the card.</small>
        </div>
        <div class="form-group">
          <!-- description -->
          <label for="exampleInputPassword1">Description</label>
          <textarea class="form-control" name="postBody" id="" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
          <!-- seeking amount -->
            <label for="exampleInputEmail1">Seeking amount in ₹</label>
            <input name="amount" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
        </div>
        <div class="form-group">
          <!-- industry of business -->
            <label for="exampleInputEmail1">Field of business</label>
            <input name="Industry_of_business" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
        </div>
        <div class="form-group">
          <!-- share -->
            <label for="exampleInputEmail1">Seeking amount in ₹</label>
            <input name="Share" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>   

<%- include("../partials/footer"); -%>